$color-g1-0: #1d1d1d;
$color-g1-1: #282828;
$color-g1-2: #333333;
$color-g1-3: #3e3e3e;
$color-g1-4: #494949;
$color-g1-5: #545454;
$color-g1-6: #5f5f5f;
$color-g1-7: #6a6a6a;
$color-g1-8: #757575;
$color-g1-9: #808080;

$color-g2-0: #e5e5e5;
$color-g2-1: #c3c3c3;
$color-g2-2: #a1a1a1;

$color-p-0: #2e6b2e;
$color-p-1: #428a42;
$color-p-2: #59a659;
$color-p-3: #80b380;
$color-p-4: #a3c2a3;
$color-p-5: #c4d4c4;
$color-p-6: #e3e8e3;

$color-success: #428a42;
$color-error: #8a4a42;

$border-radius: 4px;
