$color-g1-0: #1d1d1d;
$color-g1-1: #282828;
$color-g1-2: #333333;
$color-g1-3: #3e3e3e;
$color-g1-4: #494949;
$color-g1-5: #545454;

$color-g2-0: #e5e5e5;
$color-g2-1: #c3c3c3;
$color-g2-2: #a1a1a1;

$color-p-0: #005a32;
$color-p-1: #238b45;
$color-p-2: #41ab5d;
$color-p-3: #74c476;
$color-p-4: #a1d99b;
$color-p-5: #c7e9c0;
$color-p-6: #edf8e9;

$border-radius: 4px;
