$color-g-1: #1d1d1d;
$color-g-2: #333333;
$color-g-3: #494949;
$color-g-4: #5f5f5f;
$color-g-5: #757575;

$color-w-0: #ffffff;

$color-p-0: #7bad9f;

$color-success: #479b47;
$color-error: #b36055;

@function size($unit) {
  @return 4px * $unit;
}

$border-radius: 4px;

@mixin typography-title {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 700;
}

@mixin typography-text {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}